.container {
  top: 30%;
  left: 60%;
  position: absolute;
  background-color: rgb(134, 132, 132);
  border-top: 3px solid #2bb9dd;
  box-shadow: 0.1px 0.1px 2rem 0.1rem rgba(0, 0, 0, 0.267);
  border-radius: 9px;
  overflow: hidden;
}

.result {
  text-align: end;
  font-size: 2rem;
  color: #fff;
  background-color: rgb(36, 36, 36);
  box-shadow: 0.1px 0.2rem 1rem 0.1rem inset black;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  height: 6rem;
}

.show-result {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(8rem, auto);
  margin: 0.01rem;
}

.zero {
  grid-column-end: span 2;
}

.options {
  background-color: #2bb9dd;
}

button {
  padding: 2rem 4rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}
